<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: right;font-family: Verdana, Geneva, Tahoma, sans-serif;color: darkslategray;;"><u>Level: Normal</u></h1>
    <a style = "color:dimgray;
    background-color: transparent;" href = "/welcome" type = "button" ><p style="font-family:verdana;text-align:center;font-size:50px;" >  <font face = "Comic sans MS" size =" 5"><p style = "text-align:right;">View Cards</p></font><br /></p></button>
    <img src="/static/hard.jpg" alt="Girl in a jacket" width="100" height="300" align = "left">
    <br>
    <br>
    <h1 style="text-align: left;font-family: Verdana, Geneva, Tahoma, sans-serif;color:darkviolet;">Level: Hard</h1>
    <p>  <img src="/static/normal.jpg" alt="Girl in a jacket" width="250" height="300" align = "right">   </p>
    <a style = "color:fuchsia;
    background-color: transparent;" href = "/comwelcome" type = "button" ><p style="font-family:verdana;text-align:left;font-size:50px;" >  <font face = "Comic sans MS" size =" 5">View cards</font><br /></p></button>
    
</body>
</html>